@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@500&family=Barlow+Condensed:wght@100;400&family=Delicious+Handrawn&family=Dosis:wght@700&family=Fugaz+One&family=Genos:wght@500&family=Kaushan+Script&family=Lobster+Two:ital,wght@1,700&family=Titan+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logog {
  color: white;
  font-family: "Delicious Handrawn", cursive;
  font-size: 30px;
  text-shadow: 0 0 6px black;
}

.navbar-brand {
  background-color: indigo;
  color: wheat;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  padding: 3px, 10px;
  position: relative;
}

.navbar-custom {
  background-color: rgb(139, 64, 139);
}

.container-portada {
  width: 100%;
  height: 300px;
  margin: auto;
  background-image: url(../assets/imagen/bra-3873760_1920.jpg);
  background-position: center;
  background-size: 200%;
  animation: movimiento 10s linear infinite alternate;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.container-info {
  width: 100%;
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.616);
  position: relative;
  top: 40px;
  right: 30px;
  color: magenta;
  text-shadow: 0 0 7px indigo;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  text-align: center;
  border-radius: 50px;
  float: right;
}
.container-info a {
  background-color: indigo;
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  text-shadow: 0 0 5px black;
}
.container-info a:hover {
  background-color: chocolate;
}

.pinicio {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.titulo1 {
  text-transform: uppercase;
}

body {
  font-family: "Dosis", sans-serif;
  background-image: url(../assets/imagen/beach.jpg);
  background-position: center;
  background-size: cover;
  text-transform: capitalize;
  font-size: 20px;
}

.nav-item {
  font-family: "Anton", sans-serif;
  font-size: 25px;
}

.container-img {
  width: 100%;
  height: 200px;
  margin: auto;
  background-image: url(../assets/imagen/bannerdeprecios\ \(1\).jpg);
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
}

.container-img:hover {
  transition: all 0, 9s;
  background-size: 100%;
}

section {
  padding: 20px;
}
section h2, section h3 {
  font-family: "Anton", sans-serif;
  color: black;
  text-transform: uppercase;
  text-shadow: 0 0 7px indigo;
}
aside {
  padding: 20px;
}
aside h2, aside section h3, section aside h3 {
  font-family: "Anton", sans-serif;
  color: black;
  text-transform: uppercase;
  text-shadow: 0 0 7px indigo;
}

.contenedor-contacto {
  width: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-image: url(../assets/imagen/contactos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: 200%;
  animation: mover 10s linear infinite alternate;
}
.contenedor-contacto h1 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 50px;
  text-shadow: 0 0 7px black;
}
.contenedor-contacto p {
  font-family: "Dosis", sans-serif;
  text-align: center;
  text-shadow: 0 0 5px white;
  font-size: 25px;
  color: black;
}
.contenedor-contacto ul li {
  font-family: "Anton", sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 7px black;
}

@keyframes mover {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.ubi .contactosh {
  font-family: "Anton", sans-serif;
  color: black;
  font-size: 30px;
  text-transform: capitalize;
  text-shadow: 0 0 6px indigo;
  padding: 10px 10px 20px;
}
.ubi p {
  font-family: "Anton", sans-serif;
  color: black;
  text-transform: uppercase;
  text-shadow: 0 0 7px indigo;
  padding: 10px 10px 10px;
}

.container-galeria {
  padding: 20px 20px;
}
.container-galeria .galeriah {
  text-align: center;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  text-shadow: 0 0 5px indigo;
}
.container-galeria .grid {
  display: grid;
  max-width: 1100px;
  justify-content: center;
  margin: auto;
  gap: 50px;
  grid-template-columns: repeat(4, 280px);
}
.container-galeria .items {
  background-color: black;
  border: solid thin #e1e1e1;
}
.container-galeria .items img {
  width: 100%;
  height: 280px;
}
.container-galeria .info {
  padding: 15px;
}
.container-galeria .gh3 {
  font-family: "Barlow Condensed", sans-serif;
  color: indigo;
}
.container-galeria .pg {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}
.container-galeria .bg {
  padding: 15px;
  background-color: indigo;
  border: none;
  outline: none;
  color: #e1e1e1;
  text-transform: uppercase;
  border-radius: 50px;
}

.nota {
  padding: 30px;
  font-size: 20px;
  color: #000;
}

.form1 {
  width: 100%;
  padding-left: 20px;
  max-width: 1300px;
  background-color: chocolate;
  padding-bottom: 10px;
}
.form1 .eh1 {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
  text-shadow: 0 0 5px indigo;
}
.form1 .eh2 {
  font-family: "Anton", sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
  text-shadow: 0 0 5px indigo;
}

.eh3 {
  font-family: "Anton", sans-serif;
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  text-shadow: 0 0 5px indigo;
}

.envios {
  width: 40%;
  height: 300px;
  left: 40px;
}

.enviosmapa {
  padding: 10px;
}

.form2 {
  background-color: chocolate;
  text-align: start;
  padding: 10px;
}
.form2 .ih1 {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
  text-shadow: 0 0 5px indigo;
}

.h2i {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
  text-shadow: 0 0 5px indigo;
}

.pp {
  font-size: 20px;
  font-family: "Titan One", cursive;
  padding: 30px;
}

.foo {
  width: auto;
  height: 150px;
  font-family: "Anton", sans-serif;
  background-color: rgb(139, 64, 139);
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}

footer i {
  font-size: 40px;
  letter-spacing: 10px;
  color: #000;
}

footer i:hover {
  color: chocolate;
}



/*# sourceMappingURL=style.css.map */
