@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@500&family=Barlow+Condensed:wght@100;400&family=Delicious+Handrawn&family=Dosis:wght@700&family=Fugaz+One&family=Genos:wght@500&family=Kaushan+Script&family=Lobster+Two:ital,wght@1,700&family=Titan+One&display=swap');

$tono1: 'Titan One', cursive;
$tono2: 'Lobster Two', cursive;
$tono3: 'Anton', sans-serif;
$tono4: 'Barlow Condensed', sans-serif;
$tono5: 'Dosis', sans-serif;
$tono6: 'Delicious Handrawn', cursive;
$tono7: 'Arimo', sans-serif;
$tono8: 'Fugaz One', cursive;
$tono9: 'Genos', sans-serif;
$tono10: 'Kaushan Script', cursive;


$color1: indigo;
$color2: chocolate;
$color3: green;
$color4: magenta;
$color5: black;
$color6: rgb(236, 156, 63);
$color7: white;


$size1: 20px;
$size2: 30px;
$size3: 40px;
$size4: 50px;
$size5: 100px;
$size6: 150px;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logog {
  color: white;
  font-family: $tono6;
  font-size: 30px;
  text-shadow: 0 0 6px $color5;
}
.navbar-brand {
  background-color: $color1;
  color: wheat;
  font-family: $tono5;
  font-size: 20px;
  border-radius: 10px;
  padding: 3px, 10px;
  position: relative;
}
.navbar-custom {
  background-color: rgb(139, 64, 139);
}
.container-portada {
  width: 100%;
  height: 300px;
  margin: auto;
  background-image: url(../assets/imagen/bra-3873760_1920.jpg);
  background-position: center;
  background-size: 200%;
  animation: movimiento 10s linear infinite alternate;
}
@keyframes movimiento {
  from {
    background-position: bottom left;
  }

  to {
    background-position: top right;
  }
}
.container-info {
  width: 100%;
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.616);
  position: relative;
  top: $size3;
  right: $size2;
  color: $color4;
  text-shadow: 0 0 7px $color1;
  font-family: $tono5;
  font-size: $size1;
  text-align: center;
  border-radius: 50px;
  float: right;
  a {
    background-color: $color1;
    color: $color7;
    padding: 10px $size2;
    border-radius: 50px;
    text-decoration: none;
    text-shadow: 0 0 5px $color5;

  }
  a:hover {
    background-color: $color2;
  }
}
.pinicio {
  text-align: center;
  color: $color7;
  margin-bottom: $size2;
}
.titulo1 {
  text-transform: uppercase;
}
body {
  font-family: $tono5;
  background-image: url(../assets/imagen/beach.jpg);
  background-position: center;
  background-size: cover;
  text-transform: capitalize;
  font-size: $size1;

}
.nav-item {
  font-family: $tono3;
  font-size: 25px;
}
.container-img {
  width: 100%;
  height: 200px;
  margin: auto;
  background-image: url(../assets/imagen/bannerdeprecios\ \(1\).jpg);
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
}
.container-img:hover {
  transition: all 0, 9s;
  background-size: 100%;
}
section {
  padding: $size1;
  h2 {
    font-family: $tono3;
    color: $color5;
    text-transform: uppercase;
    text-shadow: 0 0 7px $color1;
  }
  h3 {
    @extend h2;
  }
}
aside {
  padding: $size1;

  h2 {
    font-family: $tono3;
    color: $color5;
    text-transform: uppercase;
    text-shadow: 0 0 7px $color1;
  }
}
.contenedor-contacto {
  width: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-image: url(../assets/imagen/contactos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: 200%;
  animation: mover 10s linear infinite alternate;
  h1 {
    font-family: $tono3;
    color: $color7;
    font-size: 50px;
    text-shadow: 0 0 7px $color5;
  }
  p {
    font-family: $tono5;
    text-align: center;
    text-shadow: 0 0 5px $color7;
    font-size: 25px;
    color: $color5;
  }
  ul li {
    font-family: $tono3;
    color: $color7;
    text-transform: uppercase;
    text-shadow: 0 0 7px $color5;
  }
}
@keyframes mover {
  from {
    background-position: bottom left;
  }

  to {
    background-position: top right;
  }
}
.ubi {
  .contactosh {
    font-family: $tono3;
    color: $color5;
    font-size: $size2;
    text-transform: capitalize;
    text-shadow: 0 0 6px $color1;
    padding: 10px 10px 20px;
  }
  p {
    font-family: $tono3;
    color: $color5;
    text-transform: uppercase;
    text-shadow: 0 0 7px $color1;
    padding: 10px 10px 10px;
  }
}
.container-galeria {
  padding: 20px 20px;
  .galeriah {
    text-align: center;
    text-transform: uppercase;
    font-family: $tono3;
    margin-bottom: 20px;
    font-size: $size2;
    color: $color5;
    text-shadow: 0 0 5px $color1;
  }
  .grid {
    display: grid;
    max-width: 1100px;
    justify-content: center;
    margin: auto;
    gap: 50px;
    grid-template-columns: repeat(4,280px);
    }
  .items {
    background-color: $color5;
    border: solid thin #e1e1e1;
  } 
  .items img {
    width: 100%;
    height: 280px;
  }
  .info {
    padding: 15px;
  }
  .gh3 {
    font-family: $tono4;
    color: $color1;
  }
  .pg {
    color: $color7;
    font-family: $tono4;
  }
  .bg {
    padding: 15px;
    background-color: $color1;
    border: none;
    outline: none;
    color: #e1e1e1;
    text-transform:uppercase;
    border-radius: 50px;
  }
} 
.nota {
  padding: $size2;
  font-size: $size1;
  color:#000;
}
.form1 {
  width: 100%;
  padding-left: 20px;
  max-width: 1300px;
  background-color: $color2;
  padding-bottom: 10px;
  .eh1 {
    font-family: $tono3;
    font-size: $size2;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: $color5;
    text-shadow: 0 0 5px $color1;
  }
  .eh2 {
    font-family: $tono3;
    margin-bottom: 20px;
    font-size: $size1;
    color: $color5;
    text-shadow: 0 0 5px $color1;
  }
}
.eh3 {
  font-family: $tono3;
  margin-bottom: 20px;
  font-size: $size2;
  color: $color5;
  text-shadow: 0 0 5px $color1;
  }
.envios {
  width: 40%;
  height: 300px;
  left: $size3;
}
.enviosmapa {
padding: 10px;
}
.form2 {
  background-color: $color2;
  text-align: start;
  padding: 10px;
  .ih1 {
    font-family: $tono3;
    font-size: $size2;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: $color5;
    text-shadow: 0 0 5px $color1;
  }
}
.h2i {
  font-family: $tono3;
    font-size: $size1;
    padding: 10px;
    margin-bottom: 20px;
    color: $color5;
    text-shadow: 0 0 5px $color1;
}
.pp {
  font-size: $size1;
  font-family: $tono1;
  padding: $size2;
}
@mixin foo ($width, $height, $font-family){
  width: $width;
  height: $height;
  font-family: $font-family;
}

.foo {
  @include foo (auto , 150px , $tono3);
  background-color: rgb(139, 64, 139);
  padding-top: $size1;
  text-align: center;
  font-size: $size1;
}
footer i {
  font-size: $size3;
  letter-spacing: 10px;
  color: #000;
}
footer i:hover {
  color: $color2
}


/*# sourceMappingURL=style.css.map */